Source: tarantool-vshard
Priority: optional
Section: database
Maintainer: Vladislav Shpilevoy <v.shpilevoy@tarantool.org>
Build-Depends: debhelper (>= 9),
               tarantool (>= 1.9.0),
               tarantool-dev (>= 1.9.0),
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/vshard
Vcs-Git: git://github.com/tarantool/vshard.git
Vcs-Browser: https://github.com/tarantool/vshard

Package: tarantool-vshard
Architecture: all
Depends: tarantool (>= 1.9.0), ${misc:Depends}
Description: The new generation of sharding based on virtual buckets
 The new generation of sharding based on virtual buckets.
