name: reusable_testing

on:
  workflow_call:
    inputs:
      artifact_name:
        description: 'The name of the tarantool build artifact'
        default: ubuntu-focal
        required: false
        type: string

jobs:
  run_tests:
    runs-on: ubuntu-20.04
    steps:
      - name: 'Clone the vshard module'
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository_owner }}/vshard
          # Fetch the entire history for all branches and tags. It is needed for
          # upgrade testing.
          fetch-depth: 0
          # Enable recursive submodules checkout as test-run git module is used
          # for running tests.
          submodules: recursive
      - name: 'Download the tarantool build artifact'
        uses: actions/download-artifact@v2
        with:
          name: ${{ inputs.artifact_name }}
      # TODO(ylobankov): Just in case remove tarantool that could be previously
      # installed on the runner. Relevant to self-hosted runners. Remove this
      # step when only GitHub-hosted runners are used for integration testing.
      - run: sudo apt-get -y purge 'tarantool*'
      - name: 'Install tarantool'
        # TODO(ylobankov): Install package dependencies. Now we're lucky: all
        # dependencies are already there.
        run: sudo dpkg -i tarantool*.deb
      - name: 'Install test requirements'
        run: pip3 install --user -r test-run/requirements.txt
      - run: cmake .
      - run: make test
      # TODO(ylobankov): Relevant to self-hosted runners. Remove this step
      # when only GitHub-hosted runners are used for integration testing.
      - if: always()
        run: sudo apt-get -y purge 'tarantool*'
